body {
    font-family: system-ui;
    font-size: large;
    
}

@media (max-width: 600px) {
    img {
      width: 20%;
    }
  }

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
   }



.bio{
    width: 50%;
    text-align: justify;
    float: left;
}
