body {
    margin: 0;
    font-family: system-ui;
    size: 100%;
    overflow: hidden;
    align-items: end;
}

.background{
    background-color: black;
    background-image: url("../Images/portrait.jpg");
    color: black;
    background-size: 100vw;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 0;
    padding-left: 300px;
    padding-bottom: 700px;
    text-align: right;
    margin: 0px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
    
}

.change{
    color: white;
    margin: auto;
    width: 100%;
    padding-left: 0%;
    word-spacing: 30px;
}

.header_change{
    color: white;
    text-decoration-line: none;
    text-align: center;
}
h1{
    display: float;
    float: right;
    text-align: right;
    padding-top: 10vh;
    padding-right: 10vw;
    width: 100%;
    font-size: 3.5vw;
}
h2{
    display: float;
    float: right;
    text-align: right;
    padding-right: 10vw;
    width: 100vw;
    font-size: 3.0vw;
}





/* Define a transition duration during page visits */
html.is-changing .transition-fade {
    transition: opacity 2.25s;
    opacity: 1;
  }
  /* Define the styles for the unloaded pages */
  html.is-animating .transition-fade {
    opacity: 0;
  }
